/diceRollExperiment/build/
/diceRoll/nbproject/private/
/diceRoll/build/
/DivisorCount/nbproject/private/
/DivisorCount/build/
/SimpleExpressionEvaluator/nbproject/private/
/simpleExpressionEvaluator/nbproject/private/
/simpleExpressionEvaluator/build/
/JavaApplication18/nbproject/private/
/JavaApplication18/build/

*.class
*.txt
*.dat
